<!DOCTYPE html>
<html>
<head>
<title>Nutricional</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<style>
body {
	background-image: url("imagens/nutricao.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	opacity: 0.9;
}
</style>

</head>
<body>

<div th:include="menu/menu :: menu"></div>


</body>
</html>