<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Nutricao</title>

<style>
#box {
	height: 150px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
</style>

</head>
<body>
	<div th:include="menu/menu :: menu"></div>

	<div class="container">
		<form th:action="@{/nutri/antropometria/cadastro}"
			th:object="${antropometria}" method="POST">
			<br>
			<h1>Antropometria</h1>
			<br>
			<div class="form-group">
				<label class="col-form-label">Paciente</label>
			</div>
			<div class="row">
			<div class="form-group">
				<select class="form-control" th:field="*{paciente}">
					<option th:each="p : ${pacientes}" th:value="${p.id}" th:id="${p.id}" th:text="${p.nome}" selected="selected"></option>
				</select>
			</div>
			</div>
			<div class="row">
			<div class="form-group">
				<div class="col-sm-4">
					<label class="col-form-label" for="pesoHabitual">Peso
						Habitual</label>
				</div>
				<div class="col-sm-4">
					<label class="col-form-label" for="pesoAtual">Peso Atual</label>
				</div>
				<div class="col-sm-4">
					<label class="col-form-label" for="estatura">Estatura</label>
				</div>
			</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-4">
					<input class="form-control" id="pesoHabitual" type="text"
						th:field="*{pesoHabitual}" />
				</div>
				<div class="col-sm-4">
					<input class="form-control" id="pesoAtual" type="text"
						th:field="*{pesoAtual}" />
				</div>
				<div class="col-sm-4">
					<input class="form-control" id="estatura" type="text"
						th:field="*{estatura}" />
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<div class="col-sm-6">
						<label class="col-form-label" for="imc">IMC</label>
					</div>
					<div class="col-sm-6">
						<label class="col-form-label" for="pesoIdeal">Peso Ideal</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-6">
						<input class="form-control" type="text" id="resultado" />
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text"/>
					</div>
				</div>
			</div>
			<br>


			<div class="box">
				<h4>Medidas de Circunferências</h4>
				<div class="form-group row">
					<div class="col-sm-2">
						<label class="col-form-label" for="braco">Braço</label>
					</div>
					<div class="col-sm-2">
						<label class="col-form-label" for="bracoContraido">Braço
							Contraído</label>
					</div>
					<div class="col-sm-2">
						<label class="col-form-label" for="quadril">Quadril</label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-2">
						<input class="form-control" id="braco" type="text"
							th:field="*{circunferenciaBraco}" />
					</div>
					<div class="col-sm-2">
						<input class="form-control" id="bracoContraido" type="text"
							th:field="*{circunferenciaBracoContraido}" />
					</div>
					<div class="col-sm-2">
						<input class="form-control" id="quadril" type="text"
							th:field="*{circunferenciaQuadril}" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-2">
						<label class="col-form-label" for="abdominal">Abdominal</label>
					</div>
					<div class="col-sm-2">
						<label class="col-form-label" for="perna">Perna</label>
					</div>
					<div class="col-sm-2">
						<label class="col-form-label" for="coxa">Coxa</label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-2">
						<input class="form-control" id="abdominal" type="text"
							th:field="*{circunferenciaAbnominal}" />
					</div>
					<div class="col-sm-2">
						<input class="form-control" id="perna" type="text"
							th:field="*{circunferenciaPerna}" />
					</div>
					<div class="col-sm-2">
						<input class="form-control" id="coxa" type="text"
							th:field="*{circunferenciaCoxa}" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-2">
						<label class="col-form-label" for="cintura">Cintura</label>
					</div>
					<div class="col-sm-2">
						<label class="col-form-label" for="peito">Peito</label>
					</div>
					<div class="col-sm-2">
						<label class="col-form-label" for="panturrilha">Panturrilha</label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-2">
						<input class="form-control" id="cintura" type="text"
							th:field="*{circunferenciaCintura}" />
					</div>
					<div class="col-sm-2">
						<input class="form-control" id="peito" type="text"
							th:field="*{circunferenciaPeito}" />
					</div>
					<div class="col-sm-2">
						<input class="form-control" id="panturrilha" type="text"
							th:field="*{circunferenciaPanturrilha}" />
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="porcentagemGordura">%
						Gordura Corporal</label>
				</div>
				<div class="col-sm-3">
					<label class="col-form-label" for="porcentagemMassaMagra">%
						Massa Magra</label>
				</div>
				<div class="col-sm-3">
					<label class="col-form-label" for="gorduraVisceral">%
						Gordura Visceral</label>
				</div>
				<div class="col-sm-3">
					<label class="col-form-label" for="idadeMetabolica">Idade
						Metabólica</label>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3">
					<input class="form-control" id="porcentagemGordura" type="text"
						th:field="*{porcentagemGordura}" />
				</div>
				<div class="col-sm-3">
					<input class="form-control" id="porcentagemMassaMagra" type="text"
						th:field="*{porcentagemMassaMagra}" />
				</div>
				<div class="col-sm-3">
					<input class="form-control" id="gorduraVisceral" type="text"
						th:field="*{gorduraVisceral}" />
				</div>
				<div class="col-sm-3">
					<input class="form-control" id="idadeMetabolica" type="text"
						th:field="*{idadeMetabolica}" />
				</div>
			</div>

			<br>

			<div class="form-group">
				<button type="submit" class="btn btn-success">Cadastrar</button>
			</div>
		</form>
	</div>

</body>
<script>
	var camposImc = [ "estatura", "pesoAtual" ];
	camposImc.forEach(function(campo) {
		console.log("#" + campo);
		document.querySelector("#" + campo).addEventListener("change", function() {
					if (camposValidos(camposImc)) {
						var estatura = document.querySelector("#estatura").value;
						var pesoAtual = document.querySelector("#pesoAtual").value;
						var soma = pesoAtual/(estatura * estatura);
						document.querySelector("#resultado").value = soma; 

					}
				});
	});

	function camposValidos(camposImc) {
		console.log(camposImc);
		camposImc.forEach(function(campo) {
			var campoVazio = document.querySelector("#" + campo).value === "";
			console.log(campo, "vazio", campoVazio);
			if (campoVazio)
				return false;
		});

		return true;
	}
</script>
</html>
