<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nutricao</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div th:include="menu/menu :: menu"></div>
	<div class="container">
		<form th:action="@{/nutri/consulta/cadastro}" th:object="${consulta}" method="POST">
		<h1>Cadastro de Consulta</h1>
		<br>
			
			<div class="form-group">
				<label class="form-label">Data da Consulta</label>
			</div>
			<div>
					<input class="form-control" type="text" placeholder="dd/mm/aaaa" id="dataConsulta" th:field="*{dataConsulta}"/>
			</div>
			<br>
			<div class="form-group">
					<label class="col-form-label " for="nome">Nome do Paciente</label>
			</div>
			<div class="form-group">
					<select class="form-control" th:field="*{paciente}">
						<option th:each="p : ${pacientes}" th:value="${p.id}" th:text="${p.nome}" th:id="${p.id}" selected="selected"></option>
					</select>
			</div>
			<br>
			<div class="form-group row">
				<div class="col-sm-6">
					<button type="submit" class="btn btn-success">Cadastrar</button>
				</div>
			</div>
			
		</form>
	</div>


</body>
</html>