<!DOCTYPE html>
<html>
<head>
<title>Nutricao</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:include="menu/menu :: menu"></div>
	<div class="container">
	<h1>Previsão das Próximas Consultas - Retorno</h1>
	<br>
	<br>
	<table class="table" >
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Ultima</th>
				<th>Próxima</th>
				
			</tr>
		
			<tr th:each="p : ${consultas}">
				<td th:text="${p.paciente.nome}"></td>
				<td th:text="${p.paciente.telefone1}"></td>
				<td th:text="${#temporals.format(p.dataConsulta, 'dd/MM/yyyy')}"></td>
				<td th:text="${#temporals.format(p.proximaConsulta, 'dd/MM/yyyy')}"></td>
				<td></td>
				
			</tr>
		
		</table>
	</div>
</body>
</html>